{% assign lang = site.locale | slice: 0,2 | default: "en" %}
{% case lang %}
{% when "gr" %}
  {% assign lang = "gr" %}
{% else %}
  {% assign lang = "en" %}
{% endcase %}
{% include cache-bust.html %}
<script src="{{ '/assets/js/lunr/lunr.min.js' | relative_url }}?v={{ cache_bust }}"></script>
<script src="{{ '/assets/js/lunr/lunr-store.js' | relative_url }}?v={{ cache_bust }}"></script>
<script src="{{ '/assets/js/lunr/lunr-' | append: lang | append: '.js' | relative_url }}?v={{ cache_bust }}"></script>